{% extends 'base.html.twig' %}

{% block title %}MS Code - Projeto Estoque 2025{% endblock %}

{% block body %}

  {% include "app/navbar.html.twig" %}
  <main>
    
    <div class="container py-5">
      <!-- Conteúdo da página aqui -->
    </div>
  </main> 

{% endblock %}
